.k-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  cursor: pointer;
  height: var(--button-height);
  padding: var(--button-padding);
  font-size: var(--button-font-size);
  transition: var(--transition);
  outline: none;
  user-select: none;

  &.k-button--disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:hover,
  &:focus {
    &:not(.k-button--disabled) {
      box-shadow: var(--box-shadow);
    }
  }
  &:active {
    &:not(.k-button--disabled) {
      box-shadow: inset var(--box-shadow);
    }
  }

  & + .k-button {
    margin-left: var(--gap);
  }
}

@each $var in default, primary, danger, success, warning {
  .k-button-$var {
    border: 1px solid var(--color-$var);
    color: white;
    @if $var == default {
      background-color: white;
      color: var(--color-3);
    } @else {
      background-color: var(--color-$var);
    }
  }
}
