@font-face {
  font-family: "iconfont"; /* Project id 1034390 */
  src: url('iconfont.woff2?t=1622259302688') format('woff2'),
       url('iconfont.woff?t=1622259302688') format('woff'),
       url('iconfont.ttf?t=1622259302688') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.k-icon-warning:before {
  content: "\e634";
}

.k-icon-delete:before {
  content: "\e63e";
}

.k-icon-add:before {
  content: "\e67d";
}

.k-icon-square:before {
  content: "\e6e5";
}

.k-icon-ball:before {
  content: "\e604";
}

.k-icon-close-fill:before {
  content: "\e600";
}

.k-icon-radio:before {
  content: "\e622";
}

.k-icon-checkbox:before {
  content: "\e684";
}

.k-icon-radio-fill:before {
  content: "\e633";
}

.k-icon-checkbox-fill:before {
  content: "\e725";
}

.k-icon-sort-down:before {
  content: "\e8ec";
}

.k-icon-close:before {
  content: "\e8e7";
}

.k-icon-arrow-down:before {
  content: "\e8f2";
}

