:root {
  --radius: 4px;
  --gap: 15px;
  --cubic-bezier: cubic-bezier(0.4, 1, 0, 1);
  --color-primary: #4693ff;
  --color-danger: #ff7070;
  --color-success: #3ecc56;
  --color-warning: #e1b205;
  --color-default: #acafb5;

  --color-1: #1f2e43;
  --color-2: #414b5a;
  --color-3: #666c72;
  --color-4: #9ca3aa;
  --color-5: #c4cacf;
  --color-6: #dfe5e9;

  --color-dividing-line: var(--color-6);

  --transition: 0.25s;

  --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  --drop-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);

  --bouton-height: 32px;
  --bouton-padding: 0 15px;
  --bouton-font-size: 12px;

  --mask-bg-color: rgba(0, 0, 0, 0.45);

  --popup-radius: var(--radius);
  --popup-bg-color: white;
  --popup-box-shadow: var(--box-shadow);
  --popup-header-height: 40px;
  --popup-header-padding: 0 15px;
  --popup-body-padding: 15px;
  --popup-body-max-height: calc(
    100vh - var(--popup-header-height) - var(--popup-footer-height) - var(--gap) *
      4
  );
  --popup-footer-padding: 0 15px;
  --popup-footer-height: 50px;

  --layer-arrow-size: 5px;
  --layer-enter-transition: transform 0.418s var(--cubic-bezier);
  --layer-leave-transition: transform 0.2s var(--cubic-bezier);
}
