:root {
  --radius: 5px;
  --gap: 15px;
  --cubic-bezier: cubic-bezier(0.4, 1, 0, 1);
  --color-primary: rgb(70, 147, 255);
  --color-danger: #ff7070;
  --color-success: #3ecc56;
  --color-warning: #e1b205;
  --color-default: #acafb5;

  --color-1: #1f2e43;
  --color-2: #414b5a;
  --color-3: #666c72;
  --color-4: #9ca3aa;
  --color-5: #c4cacf;
  --color-6: #dfe5e9;
  --color-7: #edf1f5;
  --color-input: var(--color-2);
  --color-placeholder: var(--color-5);

  --color-line: var(--color-5);
  --color-dividing-line: var(--color-6);

  --font-size: 12px;

  /* 文本框、选择器等的默认宽度 */
  --form-item-width: 200px;
  /* 按钮、文本框、选择器等的默认高度 */
  --height: 32px;
  --padding-x: 12px;

  --transition: 0.35s;
  --transition-enter: 0.618s;
  --transition-leave: var(--transition);

  --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  --drop-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
  --input-box-shadow: 0 0 5px var(--color-primary),
    inset 1px 2px 3px rgba(0, 0, 0, 0.1);

  --bouton-height: var(--height);
  --bouton-padding: 0 var(--padding-x);
  --bouton-font-size: var(--font-size);

  --mask-background-color: rgba(0, 0, 0, 0.45);
  --mask-enter-transition: background-color var(--transition-enter)
    var(--cubic-bezier);
  --mask-leave-transiton: background-color var(--transition-leave)
    var(--cubic-bezier);

  --popup-radius: var(--radius);
  --popup-bg-color: white;
  --popup-box-shadow: var(--box-shadow);
  --popup-header-height: 40px;
  --popup-header-padding: 0 15px;
  --popup-body-padding: 15px;
  --popup-body-max-height: calc(
    100vh - var(--popup-header-height) - var(--popup-footer-height) - var(--gap) *
      4
  );
  --popup-footer-padding: 0 var(--padding-x);
  --popup-footer-height: 50px;

  --layer-arrow-size: 5px;
  --layer-enter-transition: transform var(--transition-enter)
      var(--cubic-bezier),
    opacity var(--transition-enter) var(--cubic-bezier);
  --layer-leave-transition: transform var(--transition-leave)
      var(--cubic-bezier),
    opacity var(--transition-leave) var(--cubic-bezier);

  --choose-focus-box-shadow: var(--input-box-shadow);

  --switch-width: 32px;
  --switch-height: 14px;
  --switch-valve-size: 18px;
  --switch-valve-color: white;
  --switch-valve-border: 1px solid var(--color-5);
  --switch-bg-color: var(--color-default);

  --write-color: var(--color-input);
  --write-box-shadow: var(--input-box-shadow);
}
