:root {
  --k-radius: 4px;
  --k-gap: 15px;
  --k-color-background: white;
  --k-cubic-bezier: cubic-bezier(0.4, 1, 0, 1);
  --k-color-primary: rgb(69, 145, 252);
  --k-color-primary-05: rgba(69, 145, 252, 0.5);
  --k-color-primary-01: rgba(69, 145, 252, 0.1);
  --k-color-danger: rgb(255, 112, 112);
  --k-color-danger-05: rgba(255, 112, 112, 0.5);
  --k-color-danger-01: rgba(255, 112, 112, 0.1);
  --k-color-success: #3ecc56;
  --k-color-warning: #f1cd00;
  --k-color-default: #cad1d6;
  --k-color-disabled: #edf1f5;

  --k-color-1: #1f2e43;
  --k-color-2: #414b5a;
  --k-color-3: #666c72;
  --k-color-4: #9ca3aa;
  --k-color-5: #c4cacf;
  --k-color-6: #dfe5e9;
  --k-color-7: #edf1f5;
  --k-color-8: #f6f9fc;
  --k-color-input: var(--k-color-2);
  --k-color-placeholder: var(--k-color-5);

  --k-color-line-1: var(--k-color-2);
  --k-color-line-2: var(--k-color-3);
  --k-color-line-3: var(--k-color-4);
  --k-color-line-4: var(--k-color-5);
  --k-color-line-5: var(--k-color-6);
  --k-color-line-6: var(--k-color-7);

  --k-font-size: 12px;

  /* 文本框、选择器等的默认宽度 */
  --k-form-item-width: 200px;
  /* 按钮、文本框、选择器等的默认高度 */
  --k-height: 32px;
  --k-padding-x: 12px;

  --k-transition-quick: 0.15s;
  --k-transition: 0.35s;
  --k-transition-enter: 0.618s;
  --k-transition-leave: var(--k-transition);

  --k-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  --k-drop-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
  --k-input-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);

  --k-bouton-height: var(--k-height);
  --k-bouton-padding: 0 var(--k-padding-x);
  --k-bouton-font-size: var(--k-font-size);
  /* --k-bouton-box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.35),
    0 3px 5px 0 rgba(0, 0, 0, 0.3); */
  --k-bouton-box-shadow: 0 5px 0 -4px rgba(0, 0, 0, 0.15),
    0 3px 5px 0 rgba(0, 0, 0, 0.2), inset 0 1px 3px 0 rgba(255, 255, 255, 0.7);
  --k-bouton-active-box-shadow: 0 1px 0 -0.5px rgba(0, 0, 0, 0.7);

  --k-mask-background-color: rgba(0, 0, 0, 0.45);
  --k-mask-enter-transition: background-color var(--k-transition-enter)
    var(--k-cubic-bezier);
  --k-mask-leave-transiton: background-color var(--k-transition-leave)
    var(--k-cubic-bezier);

  --k-popup-radius: var(--k-radius);
  --k-popup-bg-color: white;
  --k-popup-box-shadow: var(--k-box-shadow);
  --k-popup-header-height: 40px;
  --k-popup-header-padding: 0 15px;
  --k-popup-body-padding: 15px;
  --k-popup-body-max-height: calc(
    100vh - var(--k-popup-header-height) - var(--k-popup-footer-height) -
      var(--k-gap) * 4
  );
  --k-popup-footer-padding: 0 var(--k-padding-x);
  --k-popup-footer-height: 50px;

  --k-layer-arrow-size: 5px;
  --k-layer-enter-transition: transform var(--k-transition-enter)
      var(--k-cubic-bezier),
    opacity var(--k-transition-enter) var(--k-cubic-bezier);
  --k-layer-leave-transition: transform var(--k-transition-leave)
      var(--k-cubic-bezier),
    opacity var(--k-transition-leave) var(--k-cubic-bezier);

  --k-choose-focus-box-shadow: var(--k-input-box-shadow);

  --k-switch-width: 32px;
  --k-switch-height: 14px;
  --k-switch-valve-size: 18px;
  --k-switch-valve-color: white;
  --k-switch-bg-color: var(--k-color-default);
  --k-switch-valve-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.3);

  --k-write-color: var(--k-color-input);
  --k-write-box-shadow: var(--k-input-box-shadow);

  --k-notice-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  --k-notice-cubic-bezier: cubic-bezier(0.26, 0.28, 0, 1.36);

  --k-pagination-size: var(--k-height);

  --k-sheet-thead-background-color: var(--k-color-7);
  --k-sheet-tr-background-color: var(--k-color-background);
  --k-sheet-tr-stripe-color: var(--k-color-8);
  --k-sheet-tr-hover-color: var(--k-color-primary-01);
  --k-sheet-container-border-color: var(--k-color-line-5);
  --k-sheet-thead-th-border-color: var(--k-color-line-5);
  --k-sheet-td-border-color: var(--k-color-line-6);
  --k-sheet-td-padding: 8px var(--k-padding-x);
  --k-sheet-td-narrow-padding: 3px;
}
html[data-theme="night"] {
  &:root {
    --k-color-background: #2d3a51;
    --k-color-default: #acafb5;
    --k-color-7: #1f2e43;
    --k-color-6: #414b5a;
    --k-color-5: #666c72;
    --k-color-4: #9ca3aa;
    --k-color-3: #c4cacf;
    --k-color-2: #dfe5e9;
    --k-color-1: #edf1f5;

    --k-color-line-1: var(--k-color-1);
    --k-color-line-2: var(--k-color-2);
    --k-color-line-3: var(--k-color-3);
    --k-color-line-4: var(--k-color-4);
    --k-color-line-5: var(--k-color-5);
    --k-color-line-6: var(--k-color-6);
    --k-color-line-7: var(--k-color-7);

    --k-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.65);
    --k-drop-shadow: 0 5px 12px rgba(0, 0, 0, 0.45);

    --k-mask-background-color: rgba(0, 0, 0, 0.55);
    --k-sheet-tr-stripe-color: var(--k-color-7);
    --k-sheet-td-border-color: var(--k-color-line-6);
  }
}
