.k-bouton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--k-radius);
  cursor: pointer;
  height: var(--k-bouton-height);
  padding: var(--k-bouton-padding);
  font-size: var(--k-bouton-font-size);
  transition: var(--k-transition-quick);
  outline: none;
  user-select: none;

  &.k-bouton--disabled {
    cursor: not-allowed;
    opacity: 0.65;
  }

  &:hover,
  &:focus {
    &:not(.k-bouton--disabled) {
      box-shadow: var(--k-bouton-box-shadow);
    }
  }
  &:active {
    &:not(.k-bouton--disabled) {
      box-shadow: var(--k-bouton-active-box-shadow);
      transform: translateY(1px);
    }
  }

  & + .k-bouton {
    margin-left: var(--k-gap);
  }
}

@each $var in default, primary, danger, success, warning {
  .k-bouton-$var {
    border: 1px solid var(--k-color-$var);
    color: white;
    @if $var == default {
      background-color: white;
      color: var(--k-color-3);
    } @else {
      background-color: var(--k-color-$var);
    }
  }
}
