.k-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: var(--radius);
  cursor: pointer;
  height: var(--button-height);
  padding: var(--button-padding);
  transition: var(--transition);
  outline: none;
  &.k-button-medium {
    font-size: var(--button-font-size);
  }
  &.k-button-default {
    border: 1px solid var(--button-font-border-color-default);
    color: var(--button-font-color-default);
  }
  &:hover {
    background-color: var(--color-6);
  }
  &:focus {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  & + .k-button {
    margin-left: 12px;
  }
}
