.k-checkbox {
  outline: none;
  cursor: default;
  font-size: var(--font-size);
  & .k-checkbox-icon {
    font-size: 14px;
    color: var(--color-3);
    margin-right: 4px;
    transform: scale(1.2, 1.2);
    display: inline-flex;
  }
  &.k-checkbox--checked {
    & .k-checkbox-icon {
      color: var(--color-primary);
    }
  }
  &.k-checkbox--disabled {
    cursor: not-allowed;
    opacity: 0.65;
  }
  & + .k-checkbox {
    margin-left: var(--gap);
  }
}
