.k-item {
  font-size: var(--k-font-size);
  transition: var(--k-transition);
  padding: 6px var(--k-padding-x);
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: 0;
  background-color: var(--k-color-background);
  &:hover {
    &:not(.k-item--disabled) {
      background-color: var(--k-color-6);
    }
  }
  &.k-item--active {
    &:not(.k-item--disabled) {
      background-color: var(--k-color-6);
      color: var(--k-color-primary);
    }
  }
  &.k-item--disabled {
    cursor: not-allowed;
    color: var(--k-color-5);
  }
}
