.k-item {
  font-size: var(--font-size);
  transition: var(--transition);
  padding: 6px var(--padding-x);
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: 0;
  &:hover {
    &:not(.k-item--disabled) {
      background-color: var(--color-6);
    }
  }
  &.k-item--active {
    &:not(.k-item--disabled) {
      background-color: var(--color-6);
      color: var(--color-primary);
    }
  }
  &.k-item--disabled {
    cursor: not-allowed;
    color: var(--color-5);
  }
}
