.k-layer {
  /* 其中的background-color/color/padding，可以传入css属性来控制 */
  --layer-arrow-offset: calc(-2 * var(--layer-arrow-size) + 1px);
  padding: var(--__layer-padding, 7px 15px);
  background-color: var(--__layer-background-color);
  color: var(--__layer-color);
  min-width: var(--__layer-min-width, auto);

  position: absolute;
  border-radius: var(--radius);
  z-index: var(--__layer-z-index, 100);
  filter: drop-shadow(var(--drop-shadow)) drop-shadow(0 0 1px var(--color-line));
  transform-origin: var(--__layer-transform-origin, 0 0);
  &.k-layer--fixed {
    position: fixed;
    max-height: calc(100vh - 2 * var(--gap));
    max-width: calc(100vw - 2 * var(--gap));
    /* overflow: auto; */
  }
  &.k-layer-has-arrow {
    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: var(--layer-arrow-size);
      border-style: solid;
    }
    &.k-layer--top {
      &:after {
        border-color: var(--__layer-background-color) transparent transparent
          transparent;
        bottom: var(--layer-arrow-offset);
        left: var(--__layer-arrow-position, 12px);
      }
    }
    &.k-layer--top-start {
      &:after {
        border-color: var(--__layer-background-color) transparent transparent
          transparent;
        bottom: var(--layer-arrow-offset);
        left: var(--__layer-arrow-position, 12px);
      }
    }
    &.k-layer--top-end {
      &:after {
        border-color: var(--__layer-background-color) transparent transparent
          transparent;
        bottom: var(--layer-arrow-offset);
        left: var(--__layer-arrow-position, 12px);
      }
    }
    &.k-layer--bottom {
      &:after {
        border-color: transparent transparent var(--__layer-background-color)
          transparent;
        top: var(--layer-arrow-offset);
        left: var(--__layer-arrow-position, 12px);
      }
    }
    &.k-layer--bottom-start {
      &:after {
        border-color: transparent transparent var(--__layer-background-color)
          transparent;
        top: var(--layer-arrow-offset);
        left: var(--__layer-arrow-position, 12px);
      }
    }
    &.k-layer--bottom-end {
      &:after {
        border-color: transparent transparent var(--__layer-background-color)
          transparent;
        top: var(--layer-arrow-offset);
        left: var(--__layer-arrow-position, 12px);
      }
    }
    &.k-layer--left {
      &:after {
        border-color: transparent transparent transparent
          var(--__layer-background-color);
        top: var(--__layer-arrow-position, 12px);
        right: var(--layer-arrow-offset);
      }
    }
    &.k-layer--left-start {
      &:after {
        border-color: transparent transparent transparent
          var(--__layer-background-color);
        top: var(--__layer-arrow-position, 12px);
        right: var(--layer-arrow-offset);
      }
    }
    &.k-layer--left-end {
      &:after {
        border-color: transparent transparent transparent
          var(--__layer-background-color);
        top: var(--__layer-arrow-position, 12px);
        right: var(--layer-arrow-offset);
      }
    }
    &.k-layer--right {
      &:after {
        border-color: transparent var(--__layer-background-color) transparent
          transparent;
        top: calc(50% - 3px);
        left: var(--layer-arrow-offset);
      }
    }
    &.k-layer--right-start {
      &:after {
        border-color: transparent var(--__layer-background-color) transparent
          transparent;
        top: var(--__layer-arrow-position, 12px);
        left: var(--layer-arrow-offset);
      }
    }
    &.k-layer--right-end {
      &:after {
        border-color: transparent var(--__layer-background-color) transparent
          transparent;
        top: var(--__layer-arrow-position, 12px);
        left: var(--layer-arrow-offset);
      }
    }
  }
}

.k-layer-scale-enter-active,
.k-layer-scale-x-enter-active,
.k-layer-scale-x-leave-active {
  transition: var(--layer-enter-transition);
}
.k-layer-scale-leave-active,
.k-layer-scale-x-leave-active,
.k-layer-scale-x-leave-active {
  transition: var(--layer-leave-transition);
}

.k-layer-scale-enter-from,
.k-layer-scale-leave-to {
  transform: scale(0, 0);
  opacity: 0;
}

.k-layer-scale-x-enter-from,
.k-layer-scale-x-leave-to {
  transform: scale(0, 1);
  opacity: 0;
}

/* k-layer-size-transition */

.k-layer-size-transition-enter-from,
.k-layer-size-transition-leave-to {
  left: var(--__layer-left-from-to) !important;
  top: var(--__layer-top-from-to) !important;
  width: var(--__layer-width-from-to) !important;
  height: var(--__layer-height-from-to) !important;
  /* opacity: 0; */
  overflow: hidden !important;
  pointer-events: none;
}
.k-layer-size-transition-leave-to {
  opacity: 0;
  /* transform: scale(0, 0); */
}
.k-layer-size-transition-enter-active {
  transition: left var(--transition-enter) var(--cubic-bezier),
    top var(--transition-enter) var(--cubic-bezier),
    width var(--transition-enter) var(--cubic-bezier),
    height var(--transition-enter) var(--cubic-bezier),
    opacity var(--transition-enter) var(--cubic-bezier);
}
.k-layer-size-transition-leave-active {
  transition: left var(--transition-leave) var(--cubic-bezier),
    top var(--transition-leave) var(--cubic-bezier),
    width var(--transition-leave) var(--cubic-bezier),
    height var(--transition-leave) var(--cubic-bezier),
    opacity var(--transition-leave) var(--cubic-bezier),
    transform var(--transition-leave) var(--cubic-bezier);
}
