.k-layer {
  /* 其中的background-color/color/padding，可以传入css属性来控制 */
  --layer-arrow-offset: calc(-2 * var(--layer-arrow-size));
  padding: var(--__layer-padding, 7px 15px);
  background-color: var(--__layer-background-color);
  color: var(--__layer-color);
  min-width: var(--__layer-min-width, none);

  position: absolute;
  border-radius: var(--radius);
  z-index: var(--__layer-z-index, 100);
  filter: drop-shadow(var(--drop-shadow)) drop-shadow(0 0 1px var(--color-line));
  transform-origin: var(--__layer-transform-origin, 0 0);
  &.k-layer-has-arrow {
    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: var(--layer-arrow-size);
      border-style: solid;
    }
    &.k-layer--top {
      &:after {
        border-color: var(--__layer-background-color) transparent transparent
          transparent;
        bottom: var(--layer-arrow-offset);
        left: var(--__layer-arrow-position, 12px);
      }
    }
    &.k-layer--top-start {
      &:after {
        border-color: var(--__layer-background-color) transparent transparent
          transparent;
        bottom: var(--layer-arrow-offset);
        left: var(--__layer-arrow-position, 12px);
      }
    }
    &.k-layer--top-end {
      &:after {
        border-color: var(--__layer-background-color) transparent transparent
          transparent;
        bottom: var(--layer-arrow-offset);
        left: var(--__layer-arrow-position, 12px);
      }
    }
    &.k-layer--bottom {
      &:after {
        border-color: transparent transparent var(--__layer-background-color)
          transparent;
        top: var(--layer-arrow-offset);
        left: var(--__layer-arrow-position, 12px);
      }
    }
    &.k-layer--bottom-start {
      &:after {
        border-color: transparent transparent var(--__layer-background-color)
          transparent;
        top: var(--layer-arrow-offset);
        left: var(--__layer-arrow-position, 12px);
      }
    }
    &.k-layer--bottom-end {
      &:after {
        border-color: transparent transparent var(--__layer-background-color)
          transparent;
        top: var(--layer-arrow-offset);
        left: var(--__layer-arrow-position, 12px);
      }
    }
    &.k-layer--left {
      &:after {
        border-color: transparent transparent transparent
          var(--__layer-background-color);
        top: var(--__layer-arrow-position, 12px);
        right: var(--layer-arrow-offset);
      }
    }
    &.k-layer--left-start {
      &:after {
        border-color: transparent transparent transparent
          var(--__layer-background-color);
        top: var(--__layer-arrow-position, 12px);
        right: var(--layer-arrow-offset);
      }
    }
    &.k-layer--left-end {
      &:after {
        border-color: transparent transparent transparent
          var(--__layer-background-color);
        top: var(--__layer-arrow-position, 12px);
        right: var(--layer-arrow-offset);
      }
    }
    &.k-layer--right {
      &:after {
        border-color: transparent var(--__layer-background-color) transparent
          transparent;
        top: calc(50% - 3px);
        left: var(--layer-arrow-offset);
      }
    }
    &.k-layer--right-start {
      &:after {
        border-color: transparent var(--__layer-background-color) transparent
          transparent;
        top: var(--__layer-arrow-position, 12px);
        left: var(--layer-arrow-offset);
      }
    }
    &.k-layer--right-end {
      &:after {
        border-color: transparent var(--__layer-background-color) transparent
          transparent;
        top: var(--__layer-arrow-position, 12px);
        left: var(--layer-arrow-offset);
      }
    }
  }
}

.k-layer-scale-enter-active,
.k-layer-scale-leave-active {
  transition: var(--layer-enter-transition);
}
.k-layer-scale-leave-active {
  transition: var(--layer-leave-transition);
}

.k-layer-scale-enter-from,
.k-layer-scale-leave-to {
  transform: scale(0, 0);
  opacity: 0;
}
