.k-choose {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  color: var(--k-color-3);
  border: var(--k-color-line-4) 1px solid;
  border-radius: var(--k-radius);
  height: var(--k-height);
  width: var(--k-form-item-width);
  padding: 0 var(--k-padding-x);
  padding-right: 20px;
  cursor: default;
  transition: var(--k-transition);
  user-select: none;
  outline: 0;
  & .k-choose-text {
    color: var(--k-color-2);
    flex: 1;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--k-font-size);
  }
  & .k-choose-placeholder {
    color: var(--k-color-placeholder);
    flex: 1;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--k-font-size);
  }
  & .k-choose-right-icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: var(--k-height);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:hover {
    border-color: var(--k-color-primary);
  }
  &:focus {
    border-color: var(--k-color-primary);
    box-shadow: var(--k-choose-focus-box-shadow);
  }
}

.k-choose-item-wrapper {
  min-height: 100px;
  overflow: auto;
  border-radius: var(--k-radius);
}
