.k-popup {
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.k-popup__header {
  height: var(--popup-header-height);
  padding: var(--popup-header-padding);
  border-bottom: var(--color-dividing-line) 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.k-popup__title {
  font-weight: bold;
  color: var(--color-2);
  font-size: 14px;
}
.k-popup__body {
  position: relative;
  padding: var(--popup-body-padding);
  /* max-height: var(--popup-body-max-height); */
  overflow: auto;
  font-size: var(--font-size);
  flex: 1;
}
.k-popup__footer {
  border-top: 1px solid var(--color-dividing-line);
  padding: var(--popup-footer-padding);
  height: var(--popup-footer-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
