.k-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--mask-bg-color);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: var(--__mask-z-index, 1000);
}
